@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply dark:text-gray-300
    }
    p {
        max-width: 75ch;
        @apply font-serif text-xl mb-1.5
    }
    li {
        max-width: 75ch;
    }
    table {
        border-spacing: 1rem;
    }
}